// colors
$lime: #84BC39;
$navy: #0D2B3D;
$forest: #317360;
$grey: #C0CCD3;
$gray-lt: #F9FAFB;
$cloud: #E0E6E8;
$white: #ffffff;
$lime-dark: #74a731;
$navy-dark: #071b27;

//global
.c-container,
div.container,
div.container-fluid {
    max-width: 1272px;
    padding: 0 24px;
    width: 100%;
    margin: auto;
}

.container-fluid,
.main-app-container,
.main-app-container-fluid {
    max-width: 100%;
}

body{
    -moz-font-feature-settings: "kern" 1;
    -ms-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
body *,
.trade-template .html-container p,
.trade-template .html-container ul,
.trade-template .html-container ol {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: $navy;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $navy;
    &:hover {
        color: $forest;
        text-decoration: none;
    }
}

.font-weight-bold {
    font-weight: 600;
}

.main-view.footer-padding{
    padding-bottom:0;
}

/* Structure */
.row-offset {
    max-width: 1272px;
    padding: 0 10px;
    position: relative;
    margin: 0 auto;
  }
  
  .vc_row:before,
  .vc_row:after {
    content: " ";
    display: table;
  }
  
  .vc_row:after {
    clear: both;
  }
  
  .vc_column_container-fluid {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .vc_col-sm-3,
    .vc_col-sm-9,
    .vc_col-sm-12 {
      float: left;
    }
  }
  
  .vc_col-sm-3,
  .vc_col-sm-9,
  .vc_col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .vc_column_container {
    padding-left: 0;
    padding-right: 0;
  }
  
  .vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    width: 100%;
  }

/* initilaize */
.padding-horizontal-medium,
.sections-holder {
    padding-left: 0;
    padding-right: 0;
}

.margin-custom-element {
    margin: 0;
}

.form-group {
    margin-bottom: 0;
}

/* typo */
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.trade-template h1,
.trade-template h2,
.trade-template h3,
.trade-template h4,
.trade-template .h1,
.trade-template .h2,
.trade-template .h3,
.trade-template .h4{
    margin: 0;
    font-weight: 600;  
    color: $navy;
    text-transform: capitalize;
}

.home-page{
    h2{
        &.atom-main{
            margin-bottom: 0;
        }
    }
}

.global-template h1,
.trade-template h1,
.global-template .h1,
.trade-template .h1,
h1,.h1{
    font-size: 32px;
    line-height: 48px;
}

.global-template h2,
.trade-template h2,
.global-template .h2,
.trade-template .h2,
h2,
.h2 {
    font-size: 24px;
    line-height: 32px;
    .atom-main{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
        text-transform: capitalize;
    }
}

.global-template h3,
.trade-template h3,
.global-template .h3,
.trade-template .h3,
h3,
.h3 {
    font-size: 16px;
    line-height: 24px;
}

.global-template h4,
.trade-template .h4,
.global-template h5,
.trade-template .h5,
.global-template h6,
.trade-template .h6,
h4,
h5,
h6 {
    font-size: 14px;
    line-height: 20px;
}

p {
    font-size: 16px;
    line-height: 28px;
}

a.btn,
.btn {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 24px;
    border-radius: 20px;
    font-weight: 600;
    border: 0;
    margin-bottom: 0;
}

.btn-primary,
a.btn-primary {
    background-color: $lime;
    color: $navy;
    &:hover {
        background-color: $lime-dark;
        color: $navy;
    }
}

.btn-secondary,
a.btn-secondary {
    background-color: $navy;
    color: $white;
    margin-top: 32px;
    width: 100%;
    &:hover {
        background-color: $navy-dark;
        color: $white;
    }
}

.ml-auto{
    margin-left: auto;
}

/* grid */
.row {
    margin-left: -12px;
    margin-right: -12px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

/* unpublished bar */

.unpublished-bar {
    font-weight: 400;
}

/*custom header style*/

.trade-template {

    .image-container-item img {
        max-width: 100%;
        max-height: 100%;
        min-width: 137px;
    }
    .nav-menu-btn {
        text-transform: capitalize;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: $white;
    }

    .image-container-item img {
        margin: auto 0;
    }

    .navbar-nav {
        padding: 24px 0;
        position: relative;
        li {
            margin: 16px 0;
            a {
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                padding: 0 12px;
                text-transform: capitalize;
                display: block;
            }

            &:last-child {
                a{
                    padding: 0;
                    .nav-menu-btn {
                        background-color: $lime;
                        padding: 8px 24px;
                        border-radius: 20px;
                        color: $navy;
                        border: 0;
                        font-weight: 600;
                        &:hover {
                            background-color: $lime-dark;
                            color: $navy;
                        }
                    }
                }

            }
        }

        &.navbar-right {
            position: absolute;
            top: 40px;
            right: 0;
        }
    }

    .color-5-menu-icons .inherit-custom-color{
        color: $lime;
    }
}


/* custom hero section*/
.fr-view{
    .c-hero{
        &__logo {
            max-width: 100%;
            padding: 0 24px;
        }
    }
}
.c-hero {
    position: relative;
    background-color: $navy;
    &__bg {
        img {
            width: 100%;
        }
    }
    &__content {
        padding: 200px 0 198px 0;
    }
    &__logo-title {
        padding-bottom: 40px;
        max-width: 100%;
    }
    &__title {
        color: $white;
        padding-top: 24px;

        h2 {
            color: $white;
        }
    }
    &__logo{
        width: 100%;
        padding:0 24px;
        max-width: 700px;
    }
}

.c-icon {
    position: absolute;
    &__top,
    &__bottom{
        img {
            // width: 176px;
            width: 46.93333vw;
            max-width: 176px;
        }
    }
    &__top {
        top: 0;
        left: 0;
    }
    &__bottom {
        right: 0;
        bottom: 0;
    }
}

/* counter */
.section-countdownClock{
    .count-container:after {
        background: $white;
        top: 50%;
        bottom: auto;
        right: 0;
        height: 64px;
        transform: translateY(-50%);
    }

    .count-container:last-child:after,
    .count-container:first-child:before{
        display: none;
    }

    .count-number {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 48px;
    }

    .sleek h2.atom-main,
    .sleek .count-unit {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0;
    }

    .sleek{
        padding: 0 12px;
        padding: 32px 24px 28px 24px;
        background-color: $forest;
        .count-unit {
            position: relative;
            text-transform: capitalize;
            margin: 0;
            font-size: 0;
            &:after{
                content: 'Days';
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                font-size: 16px;
                line-height: 28px;
                font-weight: 400;
            }
        }
        .count-container{
            &:nth-child(2){
                .count-unit::after{
                    content: 'Hours';
                }
            }
            &:nth-child(3){
                .count-unit::after{
                    content: 'Minutes';
                }
            }
            &:last-child{
                .count-unit::after{
                    content: 'Seconds';
                }
            }
        }
    }
}


/* ticker  */
.trade-template{
    .c-ticker {
        font-size: 16px;
        line-height: 24px;
        background-color: $cloud;
        overflow: hidden;
        &__title {
            padding: 14px 32px 14px 0;
            min-width: 160px;
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
            padding: 16px 24px;
            width: 100vw;
            margin-left: -21px;
            span {
                margin-right: 8px;
            }
        }
        &__content {
            padding: 16px 0 12px 0;
            margin-right: -85%;
            width: 100vw;
        }
        .row {
            margin: 0;
        }

        .col-2 {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .col-10 {
            flex: 0 0 80%;
            max-width: 80%;
        }

        &__col {
            padding: 0;
        }
    }
    
.infinite-container {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.infinite-wrapper {
    white-space: nowrap;
    width: auto;
    p{
        line-height: 28px;
    }
}

.items-block {
    display: inline-block;
    white-space: nowrap;
}

.infinite-item {
    padding-right: 32px;
    text-decoration: none;
    white-space: nowrap;
    display: inline;
}

}
/* about section */
.trade-template{
    .c-section{
        padding: 104px 0;
        &.c-speaker{
            padding-bottom: 16px;
            padding-top: 40px;
        }
        &.c-about{
            padding-bottom: 54px;
        }
        &.c-partner{
            padding-bottom: 40px;
        }
    }
    
    .c-section__title{
        font-size: 32px;
        line-height: 48px;
        color: $navy;
        text-transform: initial;
        padding-bottom: 16px;
    }
    
    .c-par{
        margin-bottom: 0;
    }
    
    .c-about{
        img{
            max-height: 38px;
            max-width: 100%;
        }
        .c-title{
            padding-top: 24px;
            padding-bottom: 16px;
        }
        &__title{
            padding-bottom:55px;
        }
        &__block{
            padding-bottom: 50px;
        }
    }
}

/* agenda */

.trade-template{
    .c-agenda{
        position: relative;
        .tab-date,
        .tab-title{
            color: $grey;
        }
        &__content{
            min-height: 616px;
        }
        &__agenda-title{
            padding-bottom: 8px;
        }
        &__time{
            padding-bottom: 12px;
        }
        &__img{
            max-width: 468px;
            img{
                width: 100%;
            }
        }
        &__tab{
            width: 50%;
            &:last-child{
                margin-right: 0;
            }
            &-wrap{
                margin-bottom: 32px;
            }
        }
        &__des{
            padding-right: 10px;
        }
        &__nav-link{
            display: block;
            border-bottom: 2px solid transparent;
            margin-right: 12px;
            &.active{
                border-bottom: 2px solid $navy;
                .tab-date,
                .tab-title{
                    color: $navy;
                }
            }
        }
        p{
            margin-bottom: 0;
        }
        &__list{
            padding: 16px 0;
        }
        .nav>li{
            max-height: 100%;
        }
        .nav>li>a {
            padding: 14px 0;
        }
        .nav-tabs>li>a:hover {
            border-color:transparent;
            background: transparent;
        }
        .btn{
            margin-bottom: 40px;
        }
    }
}

/* speakers*/
.urban-template{
    .attendees-faces-holder {
        .row{
            max-width: 424px;
            margin: auto;
        }
    }
    .speaker-company{
        display: none;
    }
    .speaker-name{
        line-height: 24px;
    }
    .urban-entity-photo-holder {
        padding: 16px 0;
        width: 50%;
    }
    .img-circle {
        max-width: 152px;
        width: 152px;
        height: 152px;
    }
}

.c-speaker-btn{
    padding-bottom: 48px;
    .btn{
        margin-top: 16px;
    }
}

/* networking */

.trade-template{
    .c-network{
        background-color: $gray-lt;
        img{
            width: 100%;
        }
        .btn{
            margin-bottom: 32px;
        }
    }
}

/* partner*/
.trade-template{
    .c-partner{
        position: relative;
        &__img{
            margin-bottom: 40px;
            img{
                width: 100%;
            }
        }
        .justify-content-center{
            justify-content: center;
        }
    }
}

/* sponsers*/
.global-template{
    .sponsors .main-app-container{
        max-width: 428px;
        margin: auto;
        padding-left: 24px;
        padding-right: 24px;
    }
    .sponsors .partner-label-container{
        display: none;
    }

    .sponsors .partner-container {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 12px;
    }
    .partner-logo{
        img{
            width: 100%;
        }
    }
    .sponsors .partner-logo-container {
        height: 90px;
    }
}

.section-sponsors{
    background-color: $white;
    padding-bottom: 30px;
    .partner-logo .partner-logo-img {
        max-width: 100%;
        max-height: 100%;
    }
    h2.atom-main{
        padding-bottom: 20px;
    }
}

/* FOOTER */

footer,
.footer{
    display: none;
}
    @media (max-width: 768px) {
        .footer-bottom-wrapper i {
        font-size: 21px;
        }
    }
    .arrow {
        margin-top: -1.15rem;
        padding-right: 1.25rem;
        position: absolute;
        right: 3.5rem;
        transform: translate(-6px, 0);
        -webkit-transform: translate(-6px, 0);
        -moz-transform: translate(-6px, 0);
        -ms-transform: translate(-6px, 0);
        -o-transform: translate(-6px, 0);
    }
    .footer-accordion-item .arrow:before,
    .footer-accordion-item .arrow:after {
        background-color: #fff;
    }
    .arrow:before,
    .arrow:after {
        background-color: #002b40;
        content: "";
        height: 0.5625rem;
        position: absolute;
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        width: 0.15rem;
    }
    .arrow:before {
        transform: translate(3px, 0) rotate(45deg);
        -webkit-transform: translate(3px, 0) rotate(45deg);
        -moz-transform: translate(3px, 0) rotate(45deg);
        -ms-transform: translate(3px, 0) rotate(45deg);
        -o-transform: translate(3px, 0) rotate(45deg);
    }
    .arrow:after {
        transform: translate(-3px, 0) rotate(-45deg);
        -webkit-transform: translate(-3px, 0) rotate(-45deg);
        -moz-transform: translate(-3px, 0) rotate(-45deg);
        -ms-transform: translate(-3px, 0) rotate(-45deg);
        -o-transform: translate(-3px, 0) rotate(-45deg);
    }
    .footer-accordion-item.is-open .arrow:before {
        transform: translate(3px, 0) rotate(-45deg);
        -webkit-transform: translate(3px, 0) rotate(-45deg);
        -moz-transform: translate(3px, 0) rotate(-45deg);
        -ms-transform: translate(3px, 0) rotate(-45deg);
        -o-transform: translate(3px, 0) rotate(-45deg);
    }
    .arrow:before {
        transform: translate(3px, 0) rotate(45deg);
        -webkit-transform: translate(3px, 0) rotate(45deg);
        -moz-transform: translate(3px, 0) rotate(45deg);
        -ms-transform: translate(3px, 0) rotate(45deg);
        -o-transform: translate(3px, 0) rotate(45deg);
    }
    
    .footer-bottom-wrapper p {
        line-height: 1.125rem;
    }
    .footer-bottom-wrapper li {
        display: inline-block;
    }
    
    .footer-bottom-wrapper {
        // background-color: #002b40;
        background-color: $navy;
        padding-top: 4rem;
    }
    @media all and (max-width: 414px) {
        .footer-bottom-wrapper {
        padding-top: 5rem;
        }
    }
    // .footer-bottom-wrapper .row-offset > .vc_row {
    //     padding-left: 8rem;
    //     padding-right: 8rem;
    // }
    .footer-bottom-wrapper .row-offset > .vc_row {
        display: flex;
        align-items: center;
    }
    @media all and (max-width: 1024px) {
        .footer-bottom-wrapper .row-offset .vc_row {
        flex-direction: column;
        }
        .footer-bottom--mega-menu_logo > .vc_column-inner {
        padding: 0;
        }
    }
    .footer-bottom-wrapper p,
    .footer-bottom-wrapper a,
    .footer-bottom-wrapper li {
        color: #fff;
        line-height: 1;
    }
    .footer-bottom-wrapper .top-row-wrapper img {
        width: 1.8rem;
    }
    .footer-bottom-wrapper .main-logo {
        height: auto;
        margin-top: 0.15rem;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        float: left;
        height: 100%;
        position: relative;
        width: 13rem;
    }
    .footer-bottom-wrapper .main-logo img {
        width: 90%;
    }
    @media only screen and (max-width: 1024px) {
        .footer-bottom-wrapper .main-logo img {
        width: 67%;
        }
    }
    .footer-bottom-wrapper .top-row-wrapper {
        margin-bottom: 2rem;
    }
    @media all and (max-width: 1024px) {
        .footer-bottom-wrapper .top-row-wrapper {
        margin-bottom: 0;
        }
    }
    .footer-bottom-wrapper .right-panel > .vc_column-inner > .wpb_wrapper {
        margin-left: auto;
        margin-right: 0;
    }
    .footer-bottom-wrapper .right-panel ul {
        align-items: center;
        display: flex;
        display: -ms-flexbox;
        justify-content: flex-end;
        -ms-flex-pack: end;
        padding-left: 0;
    }
    .footer-bottom-wrapper .right-panel ul li:not(:last-of-type) {
        margin-right: 2.15rem;
    }
    .footer-bottom-wrapper .right-panel ul:last-of-type {
        margin-left: 2.75rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    @media all and (max-width: 1024px) {
        .footer-bottom-wrapper .right-panel ul:last-of-type {
        margin-top: 1rem;
        margin-left: 0;
        }
    }
    @media all and (max-width: 500px) {
        .footer-bottom-wrapper .right-panel ul:last-of-type {
        margin-bottom: 1rem;
        }
    }
    .footer-bottom-wrapper .right-panel ul:last-of-type li {
        align-self: center;
    }
    .footer-bottom-wrapper .right-panel ul:last-of-type li:first-of-type {
        margin-right: 2rem;
    }
    .footer-bottom-wrapper .footer-nav > .wpb_wrapper {
        display: flex;
        display: -ms-flexbox;
        justify-content: flex-end;
        -ms-flex-pack: end;
    }
    @media all and (max-width: 1024px) {
        .footer-bottom-wrapper .footer-nav > .wpb_wrapper {
        display: block;
        margin-bottom: 1.5rem;
        }
    }
    .footer-bottom-wrapper .footer-nav a {
        font-weight: 400;
        font-size: 15px;
    }
    @media all and (max-width: 414px) {
        .footer-bottom-wrapper .footer-nav a {
        font-size: 12px;
        }
    }
    .footer-bottom-wrapper
        .vc_row:nth-child(3)
        > .vc_column_container
        > .vc_column-inner
        .border {
        border-top: 1px solid #dfe6e89c;
    }
    .footer-bottom-wrapper .vc_row:nth-child(3) p,
    .footer-bottom-wrapper .vc_row:nth-child(3) li,
    .footer-bottom-wrapper .vc_row:nth-child(3) a {
        color: #fff;
        font-size: 0.75rem;
        font-weight: 400;
        word-spacing: 0.15rem;
        line-height: 1;
        font-weight: 400;
    }
    .footer-bottom-wrapper .vc_row:nth-child(3) ul {
        display: flex;
        display: -ms-flexbox;
        justify-content: flex-end;
        -ms-flex-pack: end;
        margin-top: 0;
        width: 100%;
        padding-left: 0;
        margin-bottom: 1rem;
    }
    @media all and (max-width: 1024px) {
        .footer-bottom-wrapper .vc_row:nth-child(3) ul {
        justify-content: flex-start;
        }
    }
    .footer-bottom-wrapper .vc_row:nth-child(3) ul li {
        opacity: 0.8;
    }
    .footer-bottom-wrapper
        .vc_row:nth-child(3)
        ul
        li:not(:first-of-type):not(:last-of-type) {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
    .footer-bottom-wrapper .vc_row:nth-child(3) ul li:first-of-type {
        margin-left: 0;
        margin-right: auto;
        font-size: 0.7rem;
    }
    .footer-bottom-wrapper .vc_row:nth-child(3) ul li:last-of-type {
        margin-left: 0.7rem;
    }
    .footer-bottom-wrapper .copyright-wrapper {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        -ms-flex-pack: justify;
        margin-bottom: 0.9rem;
        margin-top: 1.5rem;
    }
    .footer-bottom-wrapper .copyright-wrapper li {
        display: flex;
        align-items: center;
    }
    
    @media all and (max-width: 1024px) {
        .footer-bottom-wrapper .vc_col-sm-8,
        .footer-bottom-wrapper .vc_col-sm-4,
        .footer-bottom-wrapper p {
        width: 100%;
        }
        .footer-bottom-wrapper .right-panel > .vc_column-inner > .wpb_wrapper {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        -ms-flex-pack: justify;
        margin: 0;
        max-width: 100%;
        }
        .footer-bottom-wrapper
        .right-panel
        > .vc_column-inner
        > .wpb_wrapper
        .footer-nav {
        width: 60%;
        }
        .footer-bottom-wrapper
        .right-panel
        > .vc_column-inner
        > .wpb_wrapper
        .footer-nav
        > .wpb_wrapper {
        margin-top: 1.25rem;
        }
        .footer-bottom-wrapper .vc_row:nth-child(3) li,
        .footer-bottom-wrapper .vc_row:nth-child(3) p {
        font-size: 15px;
        }
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper {
        display: flex;
        display: -ms-flexbox;
        }
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper p {
        width: 30%;
        }
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper ul {
        width: 100%;
        }
        .footer-bottom-wrapper .right-panel ul {
        justify-content: normal;
        -ms-flex-pack: normal;
        margin-bottom: 0;
        }
    }
    @media all and (max-width: 1024px) and (max-width: 500px) {
        .footer-bottom-wrapper .right-panel ul:first-of-type {
        align-items: unset;
        }
    }
    @media all and (max-width: 1024px) {
        .footer-bottom-wrapper .right-panel ul li:last-of-type {
        margin-bottom: 0;
        }
    }
    @media all and (max-width: 873px) {
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper {
        flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        }
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper p {
        width: 100%;
        font-size: 0.85rem;
        }
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper ul {
        display: block;
        padding-left: 0;
        }
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper ul li {
        display: block;
        margin-bottom: 1rem;
        }
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper ul li {
        margin-left: 0 !important;
        margin-right: 0 !important;
        }
    }
    @media all and (max-width: 820px) {
        .footer-bottom-wrapper .vc_row:nth-child(3) ul {
        padding-left: 3%;
        }
    }
    @media all and (max-width: 678px) {
        .footer-bottom-wrapper .right-panel > .vc_column-inner > .wpb_wrapper {
        flex-direction: column;
        -ms-flex-direction: column;
        }
        .footer-bottom-wrapper
        .right-panel
        > .vc_column-inner
        > .wpb_wrapper
        .footer-nav {
        width: 100%;
        }
    }
    @media all and (max-width: 414px) {
        .footer-bottom-wrapper .vc_row:nth-child(3) .copyright-wrapper ul {
        width: 100%;
        }
    }
    @media all and (max-width: 320px) {
        .footer-bottom-wrapper .right-panel .footer-nav a {
        font-size: 15px;
        }
    }
    @media only screen and (max-width: 1024px) {
        .footer-bottom--mega-menu {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
        }
    }
    @media only screen and (max-width: 768px) {
        .footer-bottom--mega-menu {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-bottom: 1rem;
        }
    }
    .footer-bottom--mega-menu .headerthree {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
    }
    @media all and (min-width: 769px) {
        .footer-bottom--mega-menu .headerthree {
        opacity: 0.5;
        }

        .footer-bottom--mega-menu_logo {
            width: 30%;
        }
    }
    .footer-bottom--mega-menu .vc_row {
        align-items: baseline;
    }
    .footer-bottom--mega-menu_content {
        width: 70%;
    }
    @media only screen and (max-width: 1024px) {
        .footer-bottom--mega-menu_content {
        width: 100%;
        }
    }
    @media all and (max-width: 1024px) {
        .footer-bottom--mega-menu_content {
        margin-top: 3rem;
        }
    }
    @media all and (max-width: 768px) {
        .footer-bottom--mega-menu_content {
        margin-top: 4rem;
        }
    }
    @media only screen and (max-width: 768px) {
        .footer-accordion {
        margin-top: 2rem;
        }
    }
    @media only screen and (max-width: 500px) {
        .footer-accordion {
        margin-top: 4rem;
        }
    }
    @media all and (min-width: 769px) {
        .footer-accordion > .vc_row {
        display: grid;
        grid-template-columns: 25% 25% 25% auto;
        justify-content: space-between;
        margin-bottom: 1rem;
        }
    }
    @media all and (max-width: 768px) {
        .footer-bottom-wrapper .vc_row {
        margin-left: 0;
        margin-right: 0;
        }
    }
    .footer-accordion > .vc_row:after,
    .footer-accordion > .vc_row:before {
        content: none;
    }
    .footer-accordion > .vc_row:last-of-type .footer-accordion-item:nth-of-type(2) {
        border-bottom: 0;
    }
    .footer-accordion-toggle {
        z-index: 1;
        position: relative;
    }
    @media all and (min-width: 1600px) {
        .footer-accordion-item.footer-newsletter-block {
        margin-left: -0.5rem;
        }
    }
    @media all and (min-width: 769px) {
        .footer-accordion-item {
        width: fit-content;
        min-width: 7rem;
        }
    }
    @media only screen and (max-width: 768px) {
        .footer-accordion-item {
        width: 100%;
        border-bottom: 1px solid #ffffff75;
        padding: 1rem 0;
        position: relative;
        }
        .footer-accordion-item.footer-newsletter-block {
        border-bottom: 0;
        }
        .footer-accordion-item:last-of-type {
        display: none;
        }
    }
    .footer-accordion-item .arrow {
        right: 0;
        padding-right: 0.5rem;
        top: 2.5rem;
    }
    @media all and (min-width: 769px) {
        .footer-accordion-item .arrow {
        display: none;
        }
    }
    .footer-accordion-item .arrow:before,
    .footer-accordion-item .arrow:after {
        background-color: #fff;
    }
    .footer-accordion-item.is-open .arrow:before {
        transform: translate(3px, 0) rotate(-45deg);
        -webkit-transform: translate(3px, 0) rotate(-45deg);
        -moz-transform: translate(3px, 0) rotate(-45deg);
        -ms-transform: translate(3px, 0) rotate(-45deg);
        -o-transform: translate(3px, 0) rotate(-45deg);
    }
    .footer-accordion-item.is-open .arrow:after {
        transform: translate(-3px, 0) rotate(45deg);
        -webkit-transform: translate(-3px, 0) rotate(45deg);
        -moz-transform: translate(-3px, 0) rotate(45deg);
        -ms-transform: translate(-3px, 0) rotate(45deg);
        -o-transform: translate(-3px, 0) rotate(45deg);
    }
    .footer-accordion-item ul {
        padding: 0;
        margin-top: 0.5rem;
    }
    @media only screen and (max-width: 768px) {
        .footer-accordion-item ul {
        margin-top: 1.5rem;
        }
    }
    .footer-accordion-item ul.ftrUlbrdr {
        position: relative;
        margin-bottom: 26px;
    }
    .footer-accordion-item ul.ftrUlbrdr:after {
        content: "";
        width: 2.5rem;
        background: #fff;
        height: 1px;
        display: block;
        opacity: 0.6;
        position: absolute;
        bottom: -0.7rem;
        left: 0;
    }
    .footer-accordion-item li {
        display: block;
        margin-bottom: 0.2rem;
    }
    @media only screen and (max-width: 768px) {
        .footer-accordion-item li {
        margin-bottom: 1rem;
        }
    }
    .footer-accordion-item li a {
        font-size: 12px;
        opacity: 0.9;
        font-weight: 400;
    }
    @media all and (min-width: 769px) {
        .footer-accordion-panel {
        display: block !important;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .panel > .row-offset > .vc_row,
        .page-header > .row-offset > .vc_row,
        .footer-bottom-wrapper > .row-offset > .vc_row {
        padding-left: 4rem;
        padding-right: 4rem;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .panel > .row-offset > .vc_row,
        .page-header > .row-offset > .vc_row,
        .footer-bottom-wrapper > .row-offset > .vc_row {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .border-top{
        border-top: 1px solid #dfe6e89c;
    }

  
/* responsive  */
@media screen and (min-width: 600px) {
    .fr-view{
        .c-hero {
            &__logo {
                max-width: 80%;
            }
        }
    }

    .c-icon {
        position: absolute;
        &__top,
        &__bottom {
            img {
                width: 28.28vw;
                max-width: 396px;
            }
        }
    }
    a.btn,
    .btn {
        width: auto;
    }
    .trade-template{
        .c-partner{
            margin-top: 105px;
            &__img{
                position: absolute;
                right: 0;
                top: 0;
                width: 32.43vw;
                max-width: 468px;
                margin-bottom: 0;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    h1,.h1,
    .sleek-template .count-number{
        font-size: 36px;
        line-height: 54px;
    }

    .fr-view{
        .c-hero {
            &__logo {
                max-width: 65%;
            }
        }
    }
    .c-hero {
        &__logo-title {
            padding-bottom: 55px;
        }

        &__title {
            padding-top: 24px;
        }

        &__content {
            padding: 166px 0 120px 0;
        }
    }
    .trade-template{
            .c-section{
                &.c-speaker{
                    padding-bottom: 8px;
                    padding-top: 104px;
                }
                &.c-partner{
                    padding-bottom: 64px;
                }
            }
        .c-section__title{
            font-size: 36px;
            line-height: 54px;
        }

        .c-speaker-btn{
            padding-bottom: 104px;
            .btn{
                margin-top: 8px;
            }
        }
        .c-ticker {
            &__title {
                min-width: 160px;
                box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.1);
                padding: 16px 0;
                width: 100%;
                margin-left: 0;
            }
            &__content{
                width: 85vw;
                padding: 14px 0;
            }
        }
        .c-about{
            img{
                max-height: 50px;
            }
        }
        .c-agenda{
            &__list{
                padding: 12px 0;
            }
            &__tab{
                width: 40%;
                margin-right: 54px;
                &-wrap{
                    margin-bottom: 44px;
                }
            }
        }
    }

    .sleek .js-countdown-view {
        width: 50%;
        margin-left: 25%;
    }

    .section-countdownClock{
        .sleek{
            padding: 40px 0 36px 0;
        }
    }
    .urban-template{
        .attendees-faces-holder {
            .row{
                max-width: 976px;
            }
        }
        .urban-entity-photo-holder {
            padding: 32px 0;
            width: 33.33333%;
        }
        .img-circle {
            max-width: 184px;
            width: 184px;
            height: 184px;
        }
    }

    .section-sponsors{
        padding-bottom: 15px;
    }

    .global-template{
        .sponsors .partner-container {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }

        .sponsors .partners-container {
            margin-bottom: 0;
        }

        .sponsors .main-app-container{
            max-width: 600px;
        }
        .sponsors .partner-logo-container {
            height: 95px;
        }
    }
}

@media screen and (min-width: 992px) {
    h1,.h1{
        font-size: 40px;
        line-height: 60px;
    }

    .sleek-template .count-number {
        font-size: 40px;
        line-height: 60px;
    }
    .trade-template{
        .c-ticker{
            &__title-col{
                flex: 0 0 15%;
                max-width: 15%;
            }
        }
        .c-section__title{
            font-size: 40px;
            line-height: 60px;
        }
        .c-agenda{
            &__img{
                position: absolute;
                left: 0;
                bottom: 105px;
                width: 33vw;
            }
            .btn{
                margin-bottom: 0;
            }
            &__tab{
                width: 31%;
                min-width: 240px;
                margin-right: 73px;
            }
        }
        .navbar-nav {
            display: flex;
            justify-content: center;
            li {
                margin: 0;
                &:last-child {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .logo-li-holder {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .c-network{
            .btn{
                margin-bottom: 0;
            }
        }
        
        .justify-content-center{
            justify-content: center;
        }
    }

    .c-hero {
        &__logo-title {
            padding-bottom: 64px;
        }

        &__title {
            color: $white;
            padding-top: 24px;

            h2 {
                color: $white;
            }
        }

        &__content {
            padding: 186px 0 160px 0;
        }
        .c-agenda{
            &__nav-link{
                margin-right: 73px;
            }
            &__tab {
                width: 40%;
            }
            &__time{
                padding-bottom: 0;
            }
        }
    }
    .sleek .js-countdown-view {
        width: 36%;
        margin-left: 32%;
    }

    .global-template{
        .sponsors .partner-container {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .sponsors .main-app-container{
            max-width: 780px;
            margin: auto;
        }

        .sponsors .partner-logo-container {
            height: 100px;
        } 
    }
    
}

@media screen and (min-width: 1200px) {
    .trade-template{
        .c-agenda__col-2{
            flex: 0 0 13%;
            max-width: 13%;
        }
        .c-ticker{
            .col-2 {
                flex: 0 0 15%;
                max-width: 15%;
            }
            .col-10{
                flex: 0 0 85%;
                max-width: 85%;
            }
        }
        .c-agenda{
            &__tab{
                &-wrap{  
                    margin-bottom: 66px;
                }
            }
        }
    }
    .c-hero {
        &__content {
            padding:211px 0;
        }
    }
    div.container,
    div.container-fluid {
        max-width: 1272px;
        padding: 0 24px;
    }

    // .footer-bottom-wrapper .row-offset > .vc_row {
    //     padding-left: 2.4rem;
    //     padding-right: 2.4rem;
    // }

    .global-template{
        .sponsors .partner-container {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .sponsors .main-app-container{
            max-width: 1016px;
            margin: auto;
        }
    }
}

@media screen and (min-width: 1400px) {

    .trade-template .c-network {
        padding-left: 50px;
    }

    // .footer-bottom-wrapper .row-offset > .vc_row {
    //     padding-left: 8rem;
    //     padding-right: 8rem;
    // }
}

@media screen and (max-width: 360px) {
    .urban-template .urban-entity-photo-holder {
        width: 100%;
    }
}
